$fz-green-btn: 14px;
$fz-header-footer: 12px;
$fz-btn:12px;
$fz-paragraph: 16px;
$lh-paragraph: 150%;
$lh-btn:180%;
$lh-header-footer: 125%;
$lh-green-btn: 86%;

$margin-tb-img: 80px;

$c-green-btn:#00402F;
$c-green-link-text:#00402F;
$c-white: #FFF;

$bc-hero-section: #668C82;