$width-logo: 195px;
$width-nav-btn: 216px;
$height-nav-btn: 85px;
$margin-l: 34px;
$header-top: 23px;
$link-margin-r: 80px;

$font-size-green-btn: 14px;
$font-size-link-item: 12px;
$line-height-link-item: 125%;
$line-height-green-btn: 86%;

$c-green-btn:#00402F;
$c-green-link-text:#00402F;
$c-white: #FFF;