$fz-green-btn: 14px;
$fz-header-footer: 12px;
$fz-btn:12px;
$fz-btn-big:14px;
$fz-paragraph: 16px;
$fz-title: 39px;
$lh-paragraph: 150%;
$lh-title: 108%;
$lh-btn:180%;
$lh-header-footer: 125%;
$lh-green-btn: 86%;

$margin-tb-img: 80px;
$margin-tb-img-adaptive: 40px;
$margin-content-adaptive: 10px;

$size-symbol: 32px;

$c-green-btn:#00402F;
$c-green-link-text:#00402F;
$c-green-text: #00402F;
$c-white: #FFF;
$c-dark-purple: #522840;

$bc-hero-section: #668C82;
$bc-section_mission-superbloom: #849ACB;
$bc-section_about-superbloom: #FFF4E3;