footer.footer
    div.container
        div.container__footer
            div.container__info
                a(href="#").info__link @superbloom.health
                div.info__text If you’re experiencing a clinical emergency and need immediate help, call 911 or go to the nearest emergency room.
            div.container__img
                img(src="/assets/images/hor_symbole.png", alt="symbole")   
            div.container__info
                a(href="#").info__link Terms &amp; Conditions | Privacy Policy
                div.info__text 
                    |National Suicide Prevention Lifeline: 800-273-8255
                    br
                    |Crisis Text Line: Text HOME to 741741