header
      div.header.container
        img(src="/assets/images/logo.png", alt="logo").header__logo.logo
        div.container__navigation
          nav.menu__nav.navigation
          ul.navigation__links.links
              li.link__container
                a.link-item(href="#") FORUM
              li.link__container
                a.link-item(href="#") EVENTS
              li.link__container
                a.link-item(href="#") THERAPY 
              li.link__container
                a.link-item(href="#") JOURNAL 
              li.link__container
                a.link-item.link-item__login(href="#") LOGIN
              li.link__container
                a.link-item.link-item__green-btn(href="#") SIGN UP FOR THERAPY
        div.burger
          div.burger__line 
          div.burger__line 
          div.burger__line 