section.section__hero
    div.container
        div.container__hero-section
            div.container__img
                img(src="/assets/images/hero-section/hero-section_img.png", alt="hero image")
            div.container__info
                div.info__text
                    h2.text__title 
                        | Greatness is
                        br
                        | within us.
                    div.container__text
                        span.span__text Superbloom provides a holistic mind-body approach to mental health. Together, we’ll thrive.
                        span.span__text One-on-one therapy with Superbloom vetted therapists.
                        span.span__text Access therapist-guided group workshops and monthly cohorts.
                        span.span__text Ask questions and engage in our secure, supportive forums.
                        span.span__text Discover the biopsychosocial approach to mind-body wellbeing.
                a(href="#").btn.btn_white Learn More
