section.section__mission-superbloom
    div.container
        div.container__mission-superbloom
            div.container__info-mission
                div.info__text-mission
                    h2.text__title-mission Mission
                    span.span__text-mission 
                        | Our mental health resources are
                        br
                        | developed to encourage and 
                        br
                        | bolster emotional wellness. 
                        br
                        | Superbloom is here to support you 
                        br
                        | feeling balanced in mind and body.
                    a(href="#").btn.btn_bc Get started
            div.container__img
                img(src="/assets/images/section_mission-superbloom/section_mission-superbloom_img.png", alt="mission image")
            div.container__img    
                img(src="/assets/images/symbol_infinity.png", alt="infinity symbol")