section.founder-words
    div.container
        div.founder-words__container
            div.words__container “We believe in the power of mind-body solutions for emotional wellbeing. Our personalized, clinically-backed approach is built to empower our members.”
            div.founder-img__container
                img(src="/assets/images/section_founder-words/founder_img.png", alt="image").founder-image
            div.text__name Erin Berman
            div.text__post Founder