section.testimonials
    div.container
        div.container__testimonials
            div.text__title Testimonials
            div.container__images
                div.container__img
                    img(src="/assets/images/section_testimonials/testimonial_item_01.png", alt="testimonial")
                div.container__img
                    img(src="/assets/images/section_testimonials/testimonial_item_02.png", alt="testimonial") 
                div.container__img
                    img(src="/assets/images/section_testimonials/testimonial_item_03.png", alt="testimonial")