section.section__about-superbloom
    div.container
        div.container__about-superbloom
            div.container__img
                img(src="/assets/images/section_about-superbloom/about-sb_img.png", alt="image")
            div.container__info
                div.info__text
                    h2.text__title 
                        | Your mind is unique. Your
                        br
                        | mental health care should
                        br
                        | be too.
                    div.container__text
                        span.span__text Superbloom provides one-on-one therapy sessions geared toward your specific needs, letting you select your package based on number of sessions and budget. We are community-oriented and offer mind-body resources with articles, forums and workshops to support your journey of finding your frequency. Whether you suffer from anxiety, depression, a chronic condition or are seeking to elevate your emotional wellness, you’ll find a way to shine with Superbloom.
                a(href="#").btn.btn_green Join the conversation
