section.founder-words
    div.container
        div.container__founder-words
            div.container__words “We believe in the power of mind-body solutions for emotional wellbeing. Our personalized, clinically-backed approach is built to empower our members.”
            div.container__founder-img
                img(src="/assets/images/section_founder-words/founder_img.png", alt="image").founder-image
            div.text__name Erin Berman
            div.text__post Founder