section.faith-superbloom
    div.container
        div.container__faith-superbloom
            div.container__img
                img(src="/assets/images/symbol_infinity_big.png", alt="symbole")
            div.container__info
                div.info__text At Superbloom, we know that none of our members share the same health journey. No two stories are the same, and no two bodies are either. That’s why we believe in building a platform that empowers you to take control of your mental health to feel your best self – today and every day.
            a(href="#").btn.btn_white GO TO OUR FORUM