doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='./assets/styles/styles.css')
body
  include components/header         
  include components/hero-section     
  include components/section_mission-superbloom
  include components/section_about-superbloom
  include components/section_founder-words
  include components/section_support
